[test]
AmazonReviews.EmptyDatabase                 = 2
AmazonReviews.DatabaseReadback              = 2
AmazonReviews.AverageRating_OneReview       = 2
AmazonReviews.AverageRating_ThreeReviews    = 2
AmazonReviews.FloatingPointAverage          = 2
AmazonReviews.NoReviews                     = 2
AmazonReviews.ProductNameCaseInsensitive    = 2
AmazonReviews.AvgRating_MultipleProducts    = 2
AmazonReviews.BlankText                     = 2
AmazonReviews.ViewOneReview                 = 2
AmazonReviews.ViewRev_SortedByYear          = 1
AmazonReviews.ViewRev_SortedByMonth         = 1
AmazonReviews.ViewRev_SortedByDay           = 1
AmazonReviews.AddReview                     = 2
AmazonReviews.AddBlankReview                = 2
AmazonReviews.AddRevValidDates              = 2
AmazonReviews.AddRevInvalidDates            = 2
AmazonLogin.LoginOnly                       = 2
AmazonLogin.LoginLogout                     = 2
AmazonLogin.InvalidUsername                 = 2
AmazonLogin.BuyWithoutLogin                 = 2
AmazonLogin.BuyItem                         = 2
AmazonLogin.SwitchAccountBuyItem            = 2
AmazonLogin.SwitchAccountWithoutLogout      = 2
AmazonSorting.ByRating                      = 2
AmazonSorting.ByRating_NoReviews            = 2
AmazonSorting.ByName                        = 2
AmazonReviewStress.Leave10000Reviews        = 2
AmazonReviewStress.View10000Reviews         = 2
